body {
    font-family: -apple-system, "Segoe UI", "Roboto", Helvetica, sans-serif;
    font-size: 1.25em;
    background-color: #eee;
    min-height: 100%;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#filter-container {
    margin-bottom: 20px;
}

select, input {
    height: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.account-button {
    width: 100%;
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: #45a049;
    color: #fff;
    font-size: 1em;
    margin-bottom: 10px;
}

.login-button:hover, .create-account-button:hover {
    background-color: #45a049;
}

h1 {
    text-align: center; /* Center the text */
}